
# Created by https://www.gitignore.io/api/c,c++,visualstudiocode

4ed
4sh.sh

build/main
.vs

### C ###
# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Shared objects (inc. Windows DLLs)

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

build/main.exe
build/main.obj
build/main.pdb

### C++ ###
# Prerequisites

# Compiled Object files
*.slo

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# Executables

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history


# End of https://www.gitignore.io/api/c,c++,visualstudiocode